#mainNav {
  min-height: 56px;
  background: $black;
  .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: $primary;
    border: 1px solid $primary;
    &:focus {
      outline: none;
    }
  }
  .navbar-brand {
    color: $white;
    font-weight: 700;
    padding: .9rem 0;
  }

  .nav-link {
    transition: none;
    color: $white;
    &:hover {
      color: fade-out($white, .25);
    }
    &:active {
      color: white;
    }
  }
  &.navbar-shrink {
    color: white;
    .navbar-brand {
      color: white;
    }
    .nav-link {
      color: white;
      a {
        color: white;
      }
      button {
        background: none!important;
        color: $primary;
      }
      &:hover {
        color: $primary;
      }
      &:active {
        color: $primary;
      }
      &.active {
        color: $primary;
        outline: none;
      }
    }
  }

  .navbar-nav {
    .nav-item {
      color:$white;
      &:hover {
        color: darken($primary, 15%);
        outline: none;
        background-color: $black;
      }
      &:active,
      &:focus {
        color: $white;
        outline: none;
        background-color: $black;
      }
    }

    button {
      background: none!important;
      color: $primary;
      border: $primary 5px;
    }
  }

  @media (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: $gray-800;
    color: white;
    transition: background-color 0.3s ease-in-out;
    .navbar-brand {
      padding: .5rem 0;
      color: $white;
    }
    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: $white;
      &:hover {
        color: fade-out($white, .25);
      }
      &:active {
        color: white;
      }
    }
    &.navbar-shrink {
      color: white;
      .navbar-brand {
        color: white;
      }
      .nav-link {
        padding: 1.5rem 1.5rem 1.25rem;
        color: white;
        a {
          color: white;
        }
        button {
          background: none!important;
          color: $primary;
          border: $primary 5px;
        }
        &:hover {
          color: $primary;
        }
        &:active {
          color: $primary;
        }
        &.active {
          color: $primary;
          outline: none;
          border-bottom: 0.25rem solid $primary;
        }
      }
    }
  }
}
