@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';
@import 'team.scss';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
  color: white;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.org img {
  width: 100%;
  max-width: 350px;
  margin: 35px 0;
  border: solid 3px white;
}

.org h3 {
  min-height: 60px;
  margin: 0;
}

.content-section {
  margin: 5em;
}

.motivation.new-school {
  background-color: black;
  font-size: x-large;
  color: white;
  padding-top: 5em;
}

.old-school {
  font-family: New Times Roman;
}

.old-school hr{
  margin: 40px;
  border: none;
  height: 4px;
}

hr.old-school{
  background: #ff0000;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(25%,#ffff00), color-stop(50%,#00ff00), color-stop(75%,#00ffff), color-stop(100%,#0000ff));
  background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
  background: -moz-linear-gradient(-45deg, #ff0000 0%, #ffff00 25%, #00ff00 50%, #00ffff 75%, #0000ff 100%);
  background: -o-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
  background: -ms-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
  background: linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
}

hr.new-school {
  clear: both;
  visibility: hidden;
  margin: 0;
}

#info.old-school h1 {
  margin-bottom: 2em;
  transform: perspective(100px) rotateY(6deg) rotateZ(-3deg) skewY(15deg) scale(0.8, 1.25);
  font-family: Impact, sans-serif;
  color: transparent;
  background: linear-gradient(to left, #747474, #fff, #747474);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  z-index: -1;
  text-shadow: -1px 0 0 #72745b, 0 1px 0 #2c2d23, -2px 1px 0.5px #72745b, -1px 2px 0.5px #2c2d23, -3px 2px 0.5px #72745b, -2px 3px 0.5px #2c2d23, -4px 3px 0.5px #72745b, -3px 4px 0.5px #2c2d23, -5px 4px 0.5px #72745b, -4px 5px 0.5px #2c2d23, -6px 5px 0.5px #72745b, -5px 6px 0.5px #2c2d23, -7px 6px 0.5px #72745b, -6px 7px 0.5px #2c2d23, -8px 7px 0.5px #72745b, -7px 8px 0.5px #2c2d23, -9px 8px 0.5px #72745b, -8px 9px 0.5px #2c2d23, -10px 9px 0.5px #72745b, -9px 10px 0.5px #2c2d23, -11px 10px 0.5px #72745b, -10px 11px 0.5px #2c2d23, -12px 11px 0.5px #72745b, -11px 12px 0.5px #2c2d23, -13px 12px 0.5px #72745b, -12px 13px 0.5px #2c2d23, -14px 13px 0.5px #72745b, -13px 14px 0.5px #2c2d23, -15px 14px 0.5px #72745b, -14px 15px 0.5px #2c2d23, -16px 15px 0.5px #72745b, -15px 16px 0.5px #2c2d23, -17px 16px 0.5px #72745b, -16px 17px 0.5px #2c2d23, -18px 17px 0 #72745b, -17px 18px 0 #2c2d23;
  }

#info.old-school h3 {
  transform: scale(1.05, 1.25);
  font-weight: 900;
  color: transparent;
  background:
          repeating-linear-gradient(180deg, transparent, transparent 1px, #ffff00 1px, #ffff00 4px), repeating-linear-gradient(-50deg, #808080, #808080 5px, #ffff00 5px, #ffff00 8px);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000;
  -webkit-background-clip: text;
  z-index: -1;
  text-shadow: 3px 2px 0 #999;
}
